* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #a08cc1, #351892);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popUpBox {
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: #506ED9;
  color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  z-index: 5;
  display: none;
}
#popUpBox h2 {
  margin: 5px;
}
#popUpBox p {
  margin: 5px;
}
#popUpBox #gameOverImage {
  height: 100px;
}
#popUpBox #playAgainButton {
  background-color: #DE4C35;
  padding: 2px;
  border-radius: 20px;
}
#popUpBox #playAgainButton:hover {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.main-container {
  padding: 20px;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
}
.main-container #hangImageHolder {
  margin: 0px 20px 0px 0px;
}
.main-container #hangImageHolder #hangImage {
  width: 240px;
}
.main-container .sub-container {
  background-color: #DE4C35;
  padding: 20px;
  margin: 0px 0px 0px 20px;
  border-radius: 25px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .sub-container p {
  margin: 3px;
}
.main-container .sub-container #keyBoardMap {
  width: 250px;
}
.main-container .sub-container #keyBoardMap ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container .sub-container #keyBoardMap ul li {
  background-color: #351892;
  padding: 3px;
  width: 20px;
  margin: 3px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  cursor: pointer;
}
.main-container .sub-container #keyBoardMap ul li:hover {
  background-color: #506ED9;
}
.main-container .sub-container #keyBoardMap ul .afterClick {
  opacity: 0.5;
  pointer-events: none;
}
.main-container .sub-container #wordHolder {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 2px;
}
.main-container .sub-container #wordHolder .wordLetter {
  width: 20px;
  margin: 10px 0px 10px 0px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid #ffffff;
}
.main-container .sub-container #wordHolder .letterFound {
  border-color: transparent;
}